#app {
    margin-top: 0 !important;
}
.separator {
    display: flex;
    align-items: center;
    text-align: center;
}
.card-img {
    width: min-content;
    align-self: center;
    padding: 0;
}
.dropdown-nav {
    border: none;
    background: none;
}
.pointer {
    cursor: pointer;
}